<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
  </head>
  <body>
    <h1>Demo 1:</h1>
    <input type="text" ng-model="someProperty" placeholder="Type to Enable">
    <button ng-model="button" ng-disabled="!someProperty">A Button</button>

    <h1>Demo 2:</h1>
    <textarea ng-disabled="isDisabled">Wait 1 second</textarea>

    <h1>ng-readonly</h1>
    <input type="text" ng-model="someProperty"><br>
    <input type="text"
           ng-readonly="someProperty"
           value="Some text here"/>

    <h1>ng-checked</h1>
    <label>someProperty = {{someProperty}}</label>
    <input type="checkbox"
           ng-checked="someProperty"
           ng-init="someProperty = true"
           ng-model="someProperty">

    <label>anotherProperty = {{anotherProperty}}</label>
    <input type="checkbox"
           ng-checked="anotherProperty"
           ng-init="anotherProperty = false"
           ng-model="anotherProperty">

    <h1>ng-selected</h1>
    <label>Select two fish:</label>
    <input type="checkbox"
           ng-model="isTwoFish"><br/>
    <select>
      <option>One Fish</option>
      <option ng-selected="isTwoFish">Two Fish</option>
    </select>

    <h1>ng-href</h1>
    <a ng-href="{{myHref}}">I'm feeling lucky, when I load</a>
    <a href="{{myHref}}">I'm feeling 404</a>

    <script>
      // js for demo 2
      angular.module('myApp', [])
      .run(function($rootScope, $timeout) {
        $rootScope.isDisabled = true;
        $timeout(function() {
          $rootScope.isDisabled = false;
        }, 5000);
      })
      .run(function($rootScope, $timeout) {
        $timeout(function() {
          $rootScope.myHref = 'http://google.com';
        }, 2000);
      });
    </script>
