<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Directive App</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css">
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js">
    </script>
  </head>
  <body>
    Antipattern, not specifying a model, child cannot communicate to parent:<br>
    <div ng-controller="SomeController">
      {{ someBareValue }}
      <button ng-click="someAction()">Communicate to child</button>
      <div ng-controller="ChildController">
        {{ someBareValue }}
        <button ng-click="childAction()">Communicate to parent</button>
      </div>
    </div>

    <hr>

    Using a model, child can communicate back to parent:<br>
    <div ng-controller="SomeController">
      {{ someModel.someValue }}
      <button ng-click="someAction()">Communicate to child</button>
      <div ng-controller="ChildController">
        {{ someModel.someValue }}
        <button ng-click="childAction()">Communicate to parent</button>
      </div>
    </div>

    <script type="text/javascript">
      angular.module('myApp', [])
      .controller('SomeController', function($scope) {
        // anti-pattern, bare value
        $scope.someBareValue = 'hello computer';
        // best practice, always use a model
        $scope.someModel = {
          someValue: 'hello computer (using model)'
        }
        // set actions on scope itself, this is okay
        $scope.someAction = function() {
          // sets {{ someBareValue inside SomeController and ChildController
          $scope.someBareValue = 'hello human, from parent';
          $scope.someModel.someValue = 'hello human, from parent (using model)';
        };
      })
      .controller('ChildController', function($scope) {
        $scope.childAction = function() {
          // sets {{ someBareValue inside ChildController
          $scope.someBareValue = 'hello human, from child'
          $scope.someModel.someValue = 'hello human, from child (using model)';
        };
      });
    </script>
  </body>
</html>
