<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Simple App</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css">
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js">
    </script>
  </head>
  <body>
    <div ng-controller="FormDemoController">
      <h4>Form demo</h4>

      <form name="signup_form" novalidate ng-submit="signupForm()">
        <fieldset>
          <legend>Signup</legend>
          <div class="row">
            <div class="large-12 columns">
              <label>Your name</label>
              <input type="text"
                     placeholder="Name"
                     name="name"
                     ng-model="signup.name"
                     ng-minlength=3
                     ng-maxlength=20 required />
            </div>
          </div>

          <button type="submit" class="button radius">Submit</button>
        </fieldset>
      </form>


      <h4>Form</h4>
      <form name="form" novalidate>
        <label name="email">Your email</label>
        <input type="email"
               name="email"
               ng-model="email"
               placeholder="Email Address" />
        <p><input type="text" required/>
        <p><input type="text" ng-minlength=5 />
        <p><input type="text" ng-maxlength=20 />
        <p><input type="text" ng-pattern="[a-zA-Z]" />
        <p><input type="email" name="email" ng-model="user.email" />
        <p><input type="number" name="age" ng-model="user.age" />
        <p><input type="url" name="homepage" ng-model="user.facebook_url" />
        <p><button type="submit" class="button radius">Submit</button>
      </form>
    </div>

    <script type="text/javascript" src="form.js"> </script>
  </body>
</html>
